<!-- Lorem ipsum，中文又称“乱数假文”， 是指一篇常用于排版设计领域的拉丁文文章 [1]  ，
主要的目的为测试文章或文字在不同字型、版型下看起来的效果，通常网站还没建设好时会出现这段文字 -->



<div id="index1" nz-row nzAlign="middle" nzJustify="center">

    <div id="index2">
        <video loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source [src]="filepath" type="video/mp4">
        </video>
    </div>
    <div nz-col>
        <div class="context" nz-row nzAlign="middle" nzJustify="center">
            <div nz-col class="context1">You have a dream,</div>
        </div>
        <div class="context" nz-row nzAlign="middle" nzJustify="center">
            <div nz-col class="context1">You got to protect it.</div>
        </div>
        <div class="context" nz-row nzAlign="middle" nzJustify="center">
            <div nz-col>
                <button nz-button id="meet" [nzShape]="'round'" [nzSize]="'large'" nzType="default"
                    (click)="meetFunc()">
                    <span id="meetspan1">遇见
                        <span id="meetspan2">
                            <span id="meetspan3">></span>
                            <span id="meetspan4">></span>
                            <span id="meetspan5">></span>
                        </span>
                    </span>
                </button>
            </div>
        </div>
    </div>

</div>