<div id="dragboundary" #divWidthAndHeight>

    <div id="cardrow1">
        <div id="cardrow2" nz-row nzJustify="center" nzAlign="middle" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32}">
            <div nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="4" nzXl="4" *ngFor="let blog of blogs;">
                <nz-card nzHoverable [nzLoading]="false" [nzCover]="coverTemplate"
                    [nzActions]="[actionArrowRight, actionEdit, actionEllipsis]">
                    <nz-card-meta [nzTitle]="blog.title" [nzDescription]="blog.description" [nzAvatar]="avatarTemplate">
                    </nz-card-meta>
                </nz-card>
            </div>
        </div>

        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        </ng-template>
        <ng-template #coverTemplate>
            <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
        </ng-template>
        <ng-template #actionArrowRight>
            <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </ng-template>
        <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
        </ng-template>
        <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
        </ng-template>
    </div>


    <button id="drag1" cdkDragBoundary="#dragboundary" cdkDrag (cdkDragStarted)="cdkDragStartedFunc()"
        (cdkDragEnded)="cdkDragEndedFunc($event)" [cdkDragDisabled]="show" >

        <button *ngIf="!show" id="drag2" (mousedown)="mousedownFunc()" (mouseup)="mouseupFunc()"
            (ontouchstart)="ontouchStart()" (ontouchend)="ontouchEnd()">
            <div>
                <div>
                    <div>

                    </div>
                </div>
            </div>
        </button>

        <button *ngIf="show" id="dashboard" (blur)="buttonBlur()">
        </button>

    </button>


</div>